- 
    if (subMethods === undefined)
        subMethods = page.MainClass.Methods ? page.MainClass.Methods : [];
if subMethods.length
    ul
        each method in page.MainClass.Methods
            li
                a(href=`/tad${method.MainPage.slug}`)= method.MainPage.slug
                |&#40; 
                if method.Arguments.length
                each arg, index in method.Arguments
                    span(data-tooltip=`${arg.type}: ${arg.description}` data-placement="right" class="clickable")=`${arg.name}` 
                    if index < method.Arguments.length - 1
                        |, 
                | &#41;
                +pageEntry(method, admin)