include ../mixins.pug
if methods.length
    section.method-section
        h3 Methods
            button( title="Add Module" onclick="toggleAddItem(event)").material-symbols-outlined.add-button add_circle
        article(hx-get=`/methods/add/${parentId}` hx-target=".add-method" hx-swap:="outerHTML" hx-trigger="intersect once").add-item.add-method.hidden
        ul
            each method in methods
                +editableLi(method)
else
    if admin
        section.method-section
            h3 Methods
            article(hx-get=`/methods/add/${parentId}` hx-target=".add-method" hx-swap:="outerHTML" hx-trigger="intersect once").add-item.add-method.hidden
            button( title="Add Method" onclick="toggleAddItem(event)").add-button Add method