    .param-row input[type="number"]::-webkit-inner-spin-button,
    .param-row input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .param-row input[type="number"] {
        -moz-appearance: textfield; /* For Firefox */
    }

    .component-container {
        height: 100%
    }

    .convert {
        flex-direction: column-reverse;
        width: 100%;
        height: 100%;
        justify-content: space-between;  
        gap: 0;
    }

    .param-input {
        display: flex;
        flex-direction: row;
    }
        
    #spritesheetForm fieldset {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
    }
    
    #convertForm {
        width: 100%;
        height: 100%;
        flex: 1 2 30%;
    }

    .convert-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #start {
        flex: 2 0;
        margin-right: 1rem;
    }

    .convert-buttons .newconvert {
        flex: 1 0;
    }

    .canvas-container {
        width: 100%;
        height: 100%;
        flex: 2 0 60%;
        margin: 0.5rem;
    }

    .param-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5em;

        & label {
            min-width: 1.5rem;
        }
        & input[type="range"] {
            flex: 1 1 60%;
            margin-right: 0.5em;
        }

        & input[type="number"] {
            width: 2.2em;
            min-width: 2.2em;
            max-width: 3.2em;
            height: 1.6em;
            padding: 0.12em 0.2em;
            margin: 0;
            border-radius: 4px;
            text-align: center;
            font-size: 0.85rem;
            box-sizing: border-box;
        }

    }



    /* @media (min-width: 768px) {
        .convert {
            flex-direction: row;
            justify-content: flex-start;
        }

        .param-input {
            display: flex;
            flex-direction: column;
        }

        #convertForm {
            flex: 1 0;
        }

        .canvas-container {
            flex: 2 0;
        }

    } */


    #myCanvas {
        width: 100%;
        height: 100%;
    }