.comment {
    opacity: 0.75;
    color: rgb(1, 114, 173);
}
.comment:before {
    content: "//";
    display: inline-block;
    font-size: 0.8rem;
    padding-right: 0.25rem;
    color: rgb(1, 114, 173);
}

.string {
    color: #ce834d;
    border:none !important;
}

.number {
    color: #89c370;
    border:none !important;
}
