//- main.nav.pug  –  Tailwind version
ul(class="flex items-center text-sm uppercase divide-x divide-white/25")
    // simple links -------------------------------------------------------------
    li
        a(href="/" class="px-3 py-2 hover:text-brand/80") Home
    li
        a(href="/notes" class="px-3 py-2 hover:text-brand/80") All notes
    li
        a(href="/components" class="px-3 py-2 hover:text-brand/80") Add note
    li
        a(href="/styles" class="px-3 py-2 hover:text-brand/80") Styles
    li
        a(href="/patterns" class="px-3 py-2 hover:text-brand/80") Patterns

    // dropdown -----------------------------------------------------------------
    li(class="relative")
        details(class="group")             
            summary(class="flex items-center px-3 py-2 cursor-pointer hover:text-brand/80 select-none") Utils class
            ul(class="absolute left-0 mt-2 w-48 rounded-md bg-white text-gray-800 shadow-lg ring-1 ring-black/10 hidden group-open:block")
                li 
                    a(href="/util" class="block px-4 py-2 hover:bg-gray-100") util
                li 
                    a(href="/util/array" class="block px-4 py-2 hover:bg-gray-100") 
                        span.opacity-50 util
                        |.array
                li 
                    a(href="/util/assert" class="block px-4 py-2 hover:bg-gray-100") 
                        span.opacity-50 util
                        |.assert
                li 
                    a(href="/auth" class="block px-4 py-2 hover:bg-gray-100") 
                        span.opacity-50 util
                        |.auth
                li 
                    a(href="/util/pages" class="block px-4 py-2 hover:bg-gray-100") 
                        span.opacity-50 util
                        |.pages
                li 
                    a(href="/util/log" class="block px-4 py-2 hover:bg-gray-100") 
                        span.opacity-50 util
                        |.log
                li 
                    a(href="/util/array" class="block px-4 py-2 hover:bg-gray-100") 
                        span.opacity-50 util
                        |.files
                li 
                    a(class="block px-4 py-2 opacity-50 cursor-not-allowed") UQ Email
