if notes
    section(class="notes").grid
        article
            h5 "Results for ${q}:"
            hr 
            ul
                each note in notes
                    li.noliststyle.mbottom1
                        a(href=`/notes/${note.id}`).bold #{note.title} 
                        |  - #{note.content} 