dialog(open)  
    article
        form(
            id="page_form"
            action="/tad/bulkCreate"
            method="POST"
        )
            section
                h3 Hurray! You uploaded
            footer
                button(type="submit") Create
                button(type="button" onclick="closeDialog()") Cancel
            hr

script.
    function closeDialog(event){
        let dialog = document.querySelector('dialog')
        dialog.close();
        dialog.parentElement.innerHTML = '';
    }