extends ../base/layout

block content
  h1= page.name
  p= page.long_description
  //- p= JSON.stringify(page, null, 2)

  case page.page_type
    when 'class'
      include viewClass
    when 'property'
      include viewProperty
    when 'method'
      include viewMethod