h2 Arguments:
each arg in page.MainMethod.Arguments
    if arg.type 
        span= arg.name
        |  - 
        span= arg.type
        if arg.description
            |  : 
            span= arg.description
    br
if page.MainMethod.return_type
    h2 Returns:
    span= page.MainMethod.return_type