include ../mixins.pug
if subClasses.length
    section.module-section
        h3 Modules
            button( title="Add Module" onclick="toggleAddItem(event)").material-symbols-outlined.add-button add_circle
        article(hx-get=`/classes/add/${parentId}` hx-target=".add-module" hx-swap:="outerHTML" hx-trigger="intersect once").add-item.add-module.hidden
        ul
            each sub, index in subClasses
                +editableLi(sub)
else
    if admin
        section.module-section
            h3 Modules
            article(hx-get=`/classes/add/${parentId}` hx-target=".add-module" hx-swap:="outerHTML" hx-trigger="intersect once").add-item.add-module.hidden
            button( title="Add Module" onclick="toggleAddItem(event)").add-button Add module