include ../../snippets/mixins/splitExample.pug

block append style
    style.
        tab1:has(method-list:empty){
            display: none;
        }
        tab2:has(property-list:empty){
            display: none;
        }
div(id="type-details" hx-trigger="typeReload from:body" hx-get=`/classes/view/${parentId}` hx-target="#type-details" hx-swap="outerHTML").fadein01.minh20
    div(class="class-list", hx-trigger="load, classReload from:body" hx-get=`/classes/list/${parentId}` hx-swap="innerHTML" hx-target=".class-list" ).fadein02
    +splitExample('snippetExample2', 'Methods', 'Properties')
        div(class="method-list", hx-trigger="load, methodReload from:body" hx-get=`/methods/list/${parentId}` hx-swap="innerHTML" hx-target=".method-list" ).tab1.fadein01
        div(class="property-list", hx-trigger="load, propertyReload from:body" hx-get=`/properties/list/${parentId}` hx-swap="innerHTML" hx-target=".property-list" ).tab2.fadein01
