div(class="modules", hx-trigger="load" hx-get=`/classes/list/${parentId}` hx-swap="innerHTML" hx-target=".modules")="Loading..."
    h2 Modules
    p="Loading modules..."
h2 Methods
div(class="methods", hx-trigger="load" hx-get=`/methods/list/${parentId}` hx-swap="innerHTML" hx-target=".methods")="Loading methods..."
//- h2 Properties
//-     include ../method/list
                